<div class="wrap">

  <div class="cardx">
    <table [formGroup]="loginForm" *ngIf="activeTab == 'login'">
      <tr>
        <td>
          <mat-form-field>
            <input type="text" matInput formControlName="email" />
          </mat-form-field>
        </td>

      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="txt-center">
          <button mat-raised-button color="primary" (click)="submit()">Login</button>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>
          <button mat-stroked-button (click)="activeTab='createAccount'">Create your account</button>
        </td>
      </tr>
    </table>
    <table [formGroup]="loginForm" *ngIf="activeTab == 'createAccount'">
      <tr>
        <td>
          <mat-form-field>
            <input type="text" matInput formControlName="email" />
          </mat-form-field>
        </td>

      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="txt-center">
          <button mat-raised-button color="primary" (click)="submit()">Sign up</button>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>
          <button mat-stroked-button (click)="activeTab='login'">Already have an account??</button>
        </td>
      </tr>
    </table>
  </div>
</div>